@model Models.Entities.Movie
@using Models.Entities;
@{
    ViewData["Title"] = Model.Name;
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Movie/MoviePage.css" />
    <link rel="stylesheet" href="~/css/Movie/Comments.css" />
    <link rel="stylesheet" href="~/css/Movie/AddMovie.css" />
    <link rel="stylesheet" href="~/css/Movie/AddToFavourite.css" />
    <link rel="stylesheet" href="~/css/Movie/Rating.css" />
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $.ajax({
                url: "/Movies/CheckIfFavourite",
                type: "GET",
                data: { id_movie: '@Model.Id' },
                dataType: "text",
                success: function () {
                    var b = document.getElementsByClassName("favorite-button")[0];
                    b.setAttribute("onclick", "delete_from_favorite('@Model.Id')");
                    b.innerHTML = "Delete from Favorites";
                    b.setAttribute("class", "favorite-button-delete");
                },
                error: function (req, status, error) {
                    var b = document.getElementsByClassName("favorite-button-delete")[0];
                    b.setAttribute("onclick", "add_to_favorite('@Model.Id')");
                    b.innerHTML = "Add to Favorites";
                    b.setAttribute("class", "favorite-button");
                }
            });
        </script>
    }
    <h1 class="movie-header">@Model.Name</h1>

    <iframe src=@Model.Url
            frameborder="0"
            class="movie-player"
            scrolling="no"
            allowfullscreen>
    </iframe>

    <div class="rating-container">
        <form id="rating" action="/Movies/AddRate" method="post" target="empty" class="rating-form">
            <input name="Rate" type="range" min="1" max="10" class="rating-input" id="myRange">
            <span id="demo" class="rating-value"></span>

            <input name="MovieId" type="hidden" value=@Model.Id />
            <button type="submit">Add rate</button>

            <script>
                var slider = document.getElementById("myRange");
                var output = document.getElementById("demo");
                output.innerHTML = slider.value;

                slider.oninput = function() {
                  output.innerHTML = this.value;
                }
            </script>
        </form>

        <div class="add-to-favourite-area">
            <div class="add-to-favourite-button">
                @if (User.Identity.IsAuthenticated)
                {
                    <button value=@Model.Id class="favorite-button" onclick="add_to_favorite(this.value)">Add to Favorites</button>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")"><div class="favorite-button">Add to Favorites</div></a>
                }
            </div>
        </div>
    </div>
    <h5>Average rate: @(@Model.Rating.Count == 0 ? "There are no rates yet" : Math.Round(@Model.Rating.Average(x => x.Rate), 2))</h5>

    <p class="movie-description">@Model.Description</p>

    @if (User.Identity.IsAuthenticated)
    {
        <form id="comment" action="/Movies/AddComment" method="post" target="empty" class="add-comment-container">
            <h4>Add comment: </h4>
            <textarea name="Content" type="text" maxlength=500 required></textarea>
            <input name="MovieId" type="hidden" value=@Model.Id />
            <button type="submit">Post</button>
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Sign in to add comments</a>
    }

    <div class="comment-container">
        <h4>Comments:</h4>
        <div id="comments">
            @foreach (var comment in Model.Comments)
            {
                <div class="comment">
                    <p><b>@comment.User.UserName:</b> @comment.Content</p>
                    <button value=@comment.Id
                        id="delete-comment-button-@comment.Id"
                        class="delete-comment-button"
                        type="submit"
                        onclick="DeleteComment(this.value)">
                        Delete
                    </button>
                </div>
            }
        </div>
    </div>
</div>
<script src="/js/MoviePage.js"></script>
