@model Models.Entities.Movie
@using Models.Entities;
@{
    ViewData["Title"] = Model.Name;
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Movie/MoviePage.css" />
    <link rel="stylesheet" href="~/css/Movie/Comments.css" />
    <link rel="stylesheet" href="~/css/Movie/AddMovie.css" />
    <link rel="stylesheet" href="~/css/Movie/AddToFavourite.css" />
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $.ajax({
                url: "/Movies/CheckIfFavourite",
                type: "GET",
                data: { id_movie: '@Model.Id' },
                dataType: "text",
                success: function () {
                    console.log("OK: Is favorite");
                    var b = document.getElementsByClassName("favorite-button")[0];
                    b.setAttribute("onclick", "delete_from_favorite('@Model.Id')");
                    b.innerHTML = "Delete from Favorites";
                    b.setAttribute("class", "favorite-button-delete");

                    
                },
                error: function (req, status, error) {
                    console.log("BAD: IS NOT favorite");
                    var b = document.getElementsByClassName("favorite-button-delete")[0];
                    b.setAttribute("onclick", "add_to_favorite('@Model.Id')");
                    b.innerHTML = "Add to Favorites";
                    b.setAttribute("class", "favorite-button");
                }
            });
        </script>
    }
    <h1 class="movie-header">@Model.Name</h1>

    <iframe src=@Model.Url
            frameborder="0"
            class="movie-player"
            scrolling="no"
            allowfullscreen>
    </iframe>

    <div class="add-to-favourite-area">
        <div class="add-to-favourite-button">
            @if (User.Identity.IsAuthenticated)
            {
                <button value=@Model.Id class="favorite-button" onclick="add_to_favorite(this.value)">Add to Favorites</button>
            }
            else{
                <a href="@Url.Action("Login", "Account")"><button class="favorite-button">Add to Favorites</button></a>
            }
        </div>
    </div>

    <p class="movie-description">@Model.Description</p>


    <form id="rating" action="/Movies/AddRate" method="post" target="empty">
        <h2>Add Rate: </h2>
        <input name="Rate" type="range" min="1" max="10" class="rating-input">
        <input name="MovieId" type="hidden" value=@Model.Id />
        <button type="submit">Add rate</button>
    </form>
    <h3>Rates:</h3>
    <div id="rating">
        @foreach (var rate in Model.Rating)
        {
            <div>
                <p>@rate.User.UserName: @rate.Rate</p>
            </div>
        }
    </div>


    <form id="comment" action="/Movies/AddComment" method="post" target="empty">
        <h2>Add comment: </h2>
        <textarea name="Content" type="text" maxlength=500 required></textarea>
        <input name="MovieId" type="hidden" value=@Model.Id />
        <button type="submit">Post</button>
    </form>

    <h3>Comments:</h3>
    <div id="comments">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment-container">
                <p>@comment.User.UserName</p>
                <p>@comment.Content</p>
            </div>
        }
    </div>
</div>
<script src="/js/MoviePage.js"></script>
