@model Models.Entities.Movie
@using Models.Entities;
@{
    ViewData["Title"] = Model.Name;
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Movie/MoviePage.css" />
    <link rel="stylesheet" href="~/css/Movie/Comments.css" />
    <link rel="stylesheet" href="~/css/Movie/AddMovie.css" />
    <link rel="stylesheet" href="~/css/Movie/AddToFavourite.css" />
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<div>
    <h1 class="movie-header">@Model.Name</h1>

    <iframe src=@Model.Url
            frameborder="0"
            class="movie-player"
            scrolling="no"
            allowfullscreen>
    </iframe>

    <div class="add-to-favourite-area">
        <div class="add-to-favourite-button">
            <button value=@Model.Id class="favorite-button" onclick="add_to_favorite(this.value)">Add to Favorites</button>
        </div>
    </div>

    <p class="movie-description">@Model.Description</p>


    <form id="comment" action="/Movies/AddComment" method="post" target="empty">
        <h2>Add comment: </h2>
        <textarea name="Content" type="text" maxlength=500 required></textarea>
        <input name="MovieId" type="hidden" value=@Model.Id />
        <button type="submit">Post</button>
    </form>

    <h3>Comments:</h3>
    <div id="comments">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment-container">
                <p>@comment.User.UserName</p>
                <p>@comment.Content</p>
            </div>
        }
    </div>
</div>
<script src="/js/MoviePage.js"></script>